.skill_wrapper {
  width: 95%;
  margin: 3rem auto;
  display: flex;
  img {
    padding: 5rem 0.1rem;
    width: 35rem;
  }
  justify-content: space-between;
  .left_box {
    padding: 5rem;
    ul {
      display: flex;
      justify-content: center;
      list-style: none;
      li {
        padding: 6px 10px;
        background: rgba(87, 199, 255, 0.1);
        margin: 12px 5px;
        border-radius: 3px;
      }
    }
  }
}
